<!-- MainMenu.html -->
<div class="menu-container">
    <div class="dev-controls" id="dev-controls" style="display: none;">
        <development-ui></development-ui>
    </div>
    
    <h1 class="game-title">Never Ending</h1>
    <div class="menu-buttons">
        <button id="singlePlayerBtn" class="menu-button">
        </button>
        <button id="loadGameBtn" class="menu-button">
        </button>
        <button id="multiplayerBtn" class="menu-button">
        </button>
        <button id="characterCreatorBtn" class="menu-button">
        </button>
        <button id="settingsBtn" class="menu-button">
        </button>
    </div>
</div>