<movable-component id="movable">
    <div class="character">
        <div class="head">
            <span class="face">
                <div class="right eye"></div>
                <div class="left eye"></div>
                <div class="mouth"></div>
            </span>
            <slot></slot>
        </div>
        <div class="body">
        </div>
        <div class="right arm">
        </div>
        <div class="left arm">
        </div>
        <div class="right leg">
        </div>
        <div class="left leg">
        </div>
    </div>
</movable-component>