@use '../_variables' as *;
@use 'sass:map';

.character.shoot {
    @for $i from 0 through $orientations - 1 {
        $angle: $i * $degrees;
        $x: map.get($cosine-values, $angle);
        $y: map.get($cosine-values, normalizeAngle($angle + 90));

        &.rotate-#{$angle} {
            .arm {
                &.right {
                    z-index: 34 + 20*$x;
                    transform: rotate(normalizeAngle(-$angle - 5deg));
                    height: calc(30 * var(--size));
                }

            }
        }

        &.pistol {
            position: absolute;
            bottom: calc(0 * var(--size));
            left: calc(-05 * var(--size));
            width: calc(100 * var(--size));
            height: calc(10 * var(--size));
            background-color: $color-weapon-dark;
            z-index: 47;
        }

    }
}