@use '../variables' as *;

:host {
    width: var(--cell-width);
    height: var(--cell-width);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: calc(var(--cell-x, 0) * var(--cell-width));
    top: calc(var(--cell-y, 0) * var(--cell-width));
    box-sizing: border-box;
    box-shadow: $shadow-inner;
    background: $gray-200;
    transform-style: preserve-3d;
    perspective: 30vmin;
}

:host(.wall) {}

:host(.floor) {
    background-color: $color-bg-secondary;
    color: $color-text-dim;
}

:host(.highlight) {
    background-color: $color-highlight;
    box-shadow: $shadow-inner-highlight;
    cursor: pointer;
}

:host(.path) {
    background-color: $color-path;
    border: $border-width solid $color-path-border;
}