<div class="actions-grid">
    <div class="action-column">
        <h4>General</h4>
        <button class="action-button" data-action="move">Move</button>
        <button class="action-button" data-action="talk">Talk</button>
        <button class="action-button" data-action="use">Use</button>
    </div>
    
    <div class="action-column">
        <h4>Ranged Combat</h4>
        <button class="action-button" data-action="shoot">Shoot</button>
        <button class="action-button" data-action="aim">Aim</button>
        <button class="action-button" data-action="suppress">Suppress</button>
        <button class="action-button" data-action="cover">Cover</button>
        <button class="action-button" data-action="throw">Throw</button>
    </div>
    
    <div class="action-column">
        <h4>Close Combat</h4>
        <button class="action-button" data-action="power-strike">Power Strike</button>
        <button class="action-button" data-action="slash">Slash</button>
        <button class="action-button" data-action="fast-attack">Fast Attack</button>
        <button class="action-button" data-action="feint">Feint</button>
        <button class="action-button" data-action="break-guard">Break Guard</button>
    </div>
</div>